# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# ROS 2
install/
log/
build/
*.log

# IDE/редакторы
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Gazebo
*.log

# Резервные копии
*.bak
*.orig
